body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f55a5a;
  height: 12vh;
  align-items: center;
  text-align: center;
  padding-top: 8px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.earth_icon {
  font-size: 2.5rem;
  padding-right: 8px;
}

.main {
  margin: 3rem;
}

.container {
  display: flex;
  width: 80%;
  margin: 0px auto;
  padding: 20px 0;
}

.container_img {
  width: 50%;
  border-radius: 10px;
}

.container_details {
  padding: 4rem;
  width: 50%;
}

.container_header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.location_icon {
  color: #f55a5a;
  font-size: 2.5rem;
}

.linebreak {
  width: 80%;
  /* margin: 10px; */
}

.googleview {
  color: gray;
  text-decoration: underline;
}

.location {
  font-weight: bold;
}

.visitdate {
  font-weight: bold;
  font-size: large;
  color: #f55a5a;
}
