.body_img {
  height: 317px;
  width: 100%;
}

footer {
  display: flex;
  background-color: #161619;
  justify-content: center;
  height: 64px;
}
.big_icon {
  font-size: 2rem;
  color: #918e9b;
  margin: 12px;
}

.body {
  background-color: #1a1b21;
  color: #f5f5f5;
}

.body_info {
  justify-content: center;
  text-align: center;
  padding: 15px;
}
.body-a {
  color: #f5f5f5;
  text-decoration: none;
}
.body_button {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 94%;
  margin: 0 20px;
}
.button_container {
  height: 50px;
  width: 115px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  width: 50%;
}

.golden_color {
  color: #f3bf99;
}
.white_color {
  background-color: #ffffff;
  color: black;
}
.blue_color {
  background-color: #5093e2;
}

.body_icon {
  justify-content: center;
  margin-top: 22px;
}
.about {
  padding: 10px 5px;
  margin: 0 20px;
}
.intrests {
  padding: 10px 5px;
  margin: 0 20px;
}
